@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "All Students";
}

<h2>View Teachers</h2>
<table class="table_dark" id="students_table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div class="row">
    <div class="col-sm-4">
        <a href="@Url.Action("Create", "Students")" class="btn btn-primary" type="button" onclick="addStudent()">Add Student</a>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script>
    $(document).ready(function () {
        $('#students_table').DataTable({
            "destroy": true,
            "processing": true,
            "ajax": {
                "method": "GET",
                "url": "https://localhost:44380/api/Students/StudentsList",
                dataSrc: '',
                "order": [[0, "asc"]]
            },
            "columns": [{
                "data": "Id"
            }, {
                "data": "Name"
            }, {
            "data": "Id",
            "render": function (data, type, full) {
                return '<a href="#" type="button" class="btn btn-primary float-left" onclick=deleteStudent(' + full.Id + ')>Delete</a>' +
                    '<a href="#" type="button" class="btn btn-secondary" onclick=editStudent(' + full.Id + ')>Edit</a>';
            }
            }]
        });
    });

    function deleteStudent(id) {
        $.ajax({
            type: 'DELETE',
            url: 'https://localhost:44380/api/Students/DeleteStudent/' + id,
            beforeSend: function () {
                return confirm("Are you sure you want to delete this Student?");
            },
            success: function () {
                window.location.reload();
            }
        });
    }

    function editStudent(id) {
        localStorage.setItem("studentId", id);
        window.location = "/Students/Edit/";
    }
</script>


