@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    ViewBag.Title = "Create New Teacher";
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/bootstrap")
<script type="text/javascript" src="../../packages/datetimepicker/moment.min.js"></script>
<h2>Add Teacher</h2>

<div class="card card-report mx-auto">
    <div class="card-body">
        <form action="https://localhost:44380/api/Teachers/CreateTeacher" method="POST" type="application/json">
            <div class="form-group row">
                <label for="Name" class="col-sm col-fom-label">Teacher Name</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="Name" name="Name" placeholder="Teacher Name">
                </div>
            </div>
            <div class="form-group-row">
                <label for="Date" class="col-sm col-fom-label">Date</label>
                <div class="col-sm-6">
                    <input type="date" class="form-control" id="Date" name="Date" placeholder="">
                </div>
            </div>
            <div class="form-group-row">
                <label for="Active" class="col-sm col-fom-label">Active</label>
                <div class="col-sm-6">
                    <input type="checkbox" class="form-control" id="Active">
                </div>
            </div>
            <div class="form-group row">
                <button class="btn btn-primary" type="button" id="addTeacher" name="addTeacher" onclick="createTeacher()">Save</button>
                <a href="@Url.Action("Index", "Teachers")" class="btn btn-primary" type="button" onclick="addTeacher()">View Teachers</a>
            </div>
        </form>
    </div>
</div>

<script>
    function createTeacher() {
        var name = $('#Name').val();
        var date = $('#Date').val()
        var active = 0;

        if (document.querySelector('#Active:checked') !== null) {
            active = 1;
        } 

        teacher = {
            Name: name,
            Date: date, 
            Active: active
        }

        $.ajax({
            type: 'POST',
            url: 'https://localhost:44380/api/Teachers/CreateTeacher',
            dataType: 'application/json',
            data: teacher,
            success: function () {
                alert("Great Success");
            }
        });
    }
</script>

