@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Edit Teacher";
}

<link rel="stylesheet" type="text/css" href="../../packages/DataTables/DateTime/css/dataTables.dateTime.min.css">
<h2>Edit Teacher</h2>

<div class="card card-report mx-auto">
    <!--<div class="card-body">-->
    <form action="https://localhost:44380/api/Teachers/EditTeacher" method="post" typeof="application/json">
        <input type="hidden" id="Id" name="Id" />
        <div class="form-group row">
            <label for="Name" class="col-sm col-fom-label">Teacher Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="Name" name="Name" placeholder="Teacher Name">
            </div>
        </div>
        <div class="form-group-row">
            <div class="col-sm-6">
                <input type="date" class="form-control" id="Date" name="Date" placeholder="">
            </div>
        </div>
        <div class="form-group-row">
            <label for="Salary" class="col-sm col-fom-label">Salary</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" id="Salary" name="Salary" placeholder="0.00">
            </div>
        </div>
        <div class="form-group-row">
            <label for="Active" class="col-sm col-fom-label">Active</label>
            <div class="col-sm-6">
                <input type="checkbox" class="form-control" id="Active">
            </div>
        </div>
        <div class="form-group row">
            <button class="btn btn-primary" type="button" id="edit" name="edit" onclick="editTeacher()">Save</button>
            <a href="@Url.Action("Index", "Teachers")" class="btn btn-primary" type="button" onclick="addTeacher()">View Teachers</a>
        </div>
    </form>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script type="text/javascript" src="../../packages/datetimepicker/moment.min.js"></script>
<script>
    $(document).ready(function () {
        var Id = localStorage.getItem("teacherId")

        $.ajax({
            type: 'POST',
            url: 'https://localhost:44380/api/Teachers/GetTeacher/' + Id,
            success: function (teacher) {
                $('#Id').val(teacher.Id);
                $('#Name').val(teacher.Name);
                $('#Date').val(teacher.Date);
                $('#Salary').val(teacher.Salary);

                if (teacher.Active == 1) {
                    document.getElementById("Active").checked = true;
                }
            }
        });
    });

    function editTeacher() {
        var Id = $('#Id').val();
        var Name = $('#Name').val();
        var Date = $('#Date').val();
        var Salary = $('#Salary').val();
        var Active = 0;

        if (document.getElementById("Active").checked == true) {
            Active = 1;
        }

        var teacher = {
            Id: Id,
            Name: Name,
            Date: Date,
            Active: Active, 
            Salary: Salary
        }

        $.ajax({
            type: 'PUT',
            url: 'https://localhost:44380/api/Teachers/EditTeacher',
            dataType: "json",
            data: teacher,
            success: function (res) {
                if (res.Success) {
                    window.location.href = res.RedirectUrl;
                }
            }
        });
    }
</script>


